<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <title>Controle Diabète</title>

    <!-- balise meta SEO google descriptif du site -->
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Bootstrap,php">
    <meta name="Controle Diabete" />
    <meta name="author" content="Nerpp">
    <meta http-equiv="refresh" content="30">

    <!-- pour le SEO produit google -->
    <link rel="alternate" hreflang="fr" href="" />

    <!-- admin mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- bootstrap -->

    <!-- appel au css -->
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>

    <!-- typo Literata & Opensans -->
    <link href="https://fonts.googleapis.com/css?family=Literata|Open+Sans&display=swap" rel="stylesheet">

    <!-- icone Font Awesome 5 -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>

<body>

<div class="container">
    <div class="col-12 text-center">
        <h1>Index</h1>
    </div>
</div>



<!-- javascript et Ajax pour le Caroussel -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- javascript et Ajax pour le Caroussel -->

</body>

</html>